.bio-container {
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: orange;
}

* {
  box-sizing: border-box;
}

.gallery-container {
  position: relative;
}

/* .mySlides {
  display: none;
} */

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
