.headers {
  color: black;
  font-size: 50px;
  line-height: 50px;
  padding-top: 75px;
  padding-bottom: 32px;
}

.essays-container {
  display: flex;
  flex-direction: column;
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-size: 20px;
  /* line-height: 25px; */
  font-weight: 300;
  /* background-color: orange; */
}

.essays-container a {
  color: rgb(8, 101, 65);
}
