.nav {
  white-space: nowrap;
  background: #37474f;
  scroll-behavior: smooth;
}
.nav a {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  .nav a {
    position: sticky;
    top: 0;
  }
}
.nav a :active {
  background: black;
}
