.welcome-container {
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  /* background-color: orange; */
}
span {
  display: block;
}

.contact-now {
  color: red;
  font-style: italic;
}

.contact-now a {
  padding-left: 10px;
}

img.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
