.welcome-container {
  display: flex;
  flex-direction: column;
  margin-left: 260px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  max-width: 65%;
}

.theme-color {
  color: rgb(8, 101, 65);
  padding-left: 10px;
}

#resume {
  font-size: 30px;
  margin-top: 30px;
  padding: 10px 10px;
  width: 22.5%;
  text-align: center;
  color: black;
  border: 2px solid black;
  background-color: gray;
}

#resume:hover {
  color: rgb(8, 101, 65);
}

#aws {
  color: rgb(8, 101, 65);
  padding-top: 100px;
}

button {
  border-radius: 20px;
  border-style: hidden;
  border-color: white;
  border-right-color: white;
  background-color: rgba(
    191,
    171,
    171,
    0.4
  ); /* last number sets the backgrounf opacity without changing the link or image opacity!*/
  padding: 6px 16px;
}

button a {
  color: rgb(160, 94, 94);
  font-size: 48px;
}
button a:hover {
  color: black;
}

.contact-now {
  margin-top: 25px;
}

img.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.contact-container-welcome {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 600px) {
  .welcome-container {
    margin-left: 10%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    max-width: 85%;
  }
  .headers {
    font-size: 32px;
  }
}

contact-links a {
  padding: 10px;
  color: black;
}
