@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap"); /* body {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
} */
.App {
  width: 100vw;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1454117096348-e4abbeba002c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-attachment: fixed;
  font-size: 48px;
  line-height: 58px;
  /* font-weight: 300; */

  /* font-family: "Merriweather", serif; */
  /* font-family: "Noticia Text", serif; */
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "Roboto Slab", serif; */
}
.App .headers {
  /* color: black;
  font-size: 50px;
  line-height: 50px; */
  font-family: "Source Sans Pro", sans-serif;

  font-size: 58px;
  padding-top: 75px;
  padding-bottom: 32px;
}

@media (max-width: 600px) {
  .App .headers {
    font-size: 38px;
  }
  .App {
    background-attachment: fixed;
  }
}
